html, body {
    margin:0;
    padding:0;
    height:100vh; /* needed for container min-height */
    width: 100%;
    background-color: #f7f9fa;
    overflow: hidden;
}

nav {
  box-shadow: 0px 0px 0px #000;
  line-height: 20px;
  height: 70px !important;
}

.online-users {
  margin-top: 0px;
  overflow-y: scroll;
  height: calc(100vh - 170px);
}

.search {
  height: 50px !important;
  margin-bottom: 0px;
  font-size: 10px;
  border-radius: 50px !important;
  background-color: white;
}

#search-icon {
  font-size: 20px;
  margin-top: 15px;
}

.user {
  height: 100vh;
  border-right: 0.5px solid #bdbdbd;
  padding: 0px !important;
}

.collection {
  border: 0px !important;
}

.online-head {
  padding-left: 0.75rem !important;
}

.defaultChat {
  height: 100vh;
  align-items: center;
}

.logo {
   margin-top: 15%;
   margin-left: 15%;
   margin-right: 15%;
}

#chat-text {
  font-family: monospace;
  font-size: 30px;
}

#geek-logo {
  border-radius: 100%;
}

.nav > li:first-child {
  float: left;
}

.nav li {
  padding-top: .5em;
  padding-right: 1em;
  padding-left: 1em;
  float: right;
  overflow: hidden;
}

.color-grey {
  color: #757575;
}

.chat {
  height: 100vh;
  padding: 0px !important;
}

.message-box {
  position: fixed;
  bottom: 0px;
  height: 60px;
  margin-bottom: 0 !important;
  width: 67%;
  padding: 0.5em;
}

.input-msg {
  width: 95% !important;
  margin-right: 1% !important;
  padding-left: 1% !important;
  border-radius: 10px !important;
  background-color: white !important;
}

.chat-area {
  height: calc(100vh - 130px);
  background-image: url('../images/chatBackground.jpg');
  overflow-y: scroll;
}

.chip {
  background-color: white;
}
