html, body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    width: 100%;
    /*overflow: hidden;*/
}

nav {
  box-shadow: 0px 0px 0px #000;
  line-height: 20px;
}

.online-users {
  margin-top: 0px;
  overflow-y: scroll;
  height:500px;
}

.search {
  margin-bottom: 0px;
}

.user {
  height: 100vh;
  border-right: 0.5px solid #bdbdbd;
  padding: 0px !important;
}

.collection {
  border: 0px !important;
}

.online-head {
  padding-left: 0.75rem !important;
}

.defaultChat {
  height: 100vh;
  align-items: center;
  background-color: #f7f9fa;
}

.logo {
   margin-top: 15%;
   margin-left: 15%;
   margin-right: 15%;
}

#chat-text {
  font-family: monospace;
  font-size: 30px;
}

#geek-logo {
  border-radius: 100%;
}

.nav > li:first-child {
  float: left;
}

.nav li {
  padding-top: .5em;
  padding-right: 1em;
  padding-left: 1em;
  float: right;
  overflow: hidden;
}

.chat {
  height: 100vh;
  background-color: #f7f9fa;
  padding: 0px !important;
}

.message-box {
  padding: 1em;
  background-color: #f7f9fa;
}

.input-msg {
  margin-right: 1em !important;
  padding-left: 1em !important;
  border-radius: 10px !important;
  background-color: white !important;
}

.chat-area {
  height: 530px;
  background-image: url('../images/chatBackground.jpg');
  overflow-y: scroll;
}
