body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    overflow:hidden;
}

nav {
  box-shadow: 0px 0px 0px #000;
  line-height: 20px;
}

.online-users {
  margin-top: 0px;
  overflow-y: scroll;
  height:500px;
}

.search {
  margin-bottom: 0px;
}

.user {
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  padding: 0px !important;
}

.collection {
  border: 0px !important;
}

.online-head {
  padding-left: 0.75rem !important;
}

.chat {
  height: 100vh;
  align-items: center;
  background-color: #f7f9fa;
}

.logo {
   margin-top: 15%;
   margin-left: 15%;
   margin-right: 15%;
}

#chat-text {
  font-family: monospace;
  font-size: 30px;
}

#geek-logo {
  border-radius: 100%;
}
