#local-video {
  top: calc(100vh-64px);
  left: 0;
  width: 10vw;
  background: #333333;
  position: absolute;
}
#remote-video {
  top: 0px;
  width: 33vw;
  height: 40vh;
  background: #999999;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.video {
  max-width: inherit;
  width: 100%;
}

#end-call {
  background-color: #ef5350;
}
