#local-video {
  top: 10px;
  left: 10px;
  width: inherit;
  height: 120px;
  background: #333333;
}
#remote-video {
  top: 0px;
  width: inherit;
  height: 90%;
  background: #999999;
}

.hide {
  display: none;
}

.show {
  display: block;
}
