#local-video {
  top: calc(100vh-64px);
  left: 0;
  width: 20vh;
  background: #333333;
  position: absolute;
}
#remote-video {
  top: 0px;
  width: 63vh;
  background: #999999;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.video {
  max-width: inherit;
  width: 100%;
}
